{% if build.environment == "production" and analytics.ga %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics.ga }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ analytics.ga }}', {'anonymize_ip': true});
  </script>
{% endif %}