<a href="#" class="px-2">
  {{ '/site/_includes/svg/rss.svg' | svgContents | safe }}
</a>
<a href="mailto:{{ social.email }}" class="px-2">
  {{ '/site/_includes/svg/mail.svg' | svgContents | safe }}
</a>
<a href="{{ social.github }}" class="px-2">
  {{ '/site/_includes/svg/github.svg' | svgContents | safe }}
</a>
<a href="{{ social.linkedin }}" class="px-2">
  {{ '/site/_includes/svg/linkedin.svg' | svgContents | safe }}
</a>
<a href="{{ social.twitter }}" class="px-2">
  {{ '/site/_includes/svg/twitter.svg' | svgContents | safe }}
</a>
<a href="{{ social.instagram }}" class="px-2">
  {{ '/site/_includes/svg/instagram.svg' | svgContents | safe }}
</a>
