<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@martinraag" />
<meta name="twitter:creator" content="@martinraag" />
<meta name="twitter:title" content="{%- if title -%}{{ title }}{%- else -%}Martin Raag{%- endif -%}" />
<meta name="twitter:description" content="{%- if description -%}{{ description }}{%- else -%}Personal website and blog for Martin Raag.{%- endif -%}" />
<meta name="twitter:image" content="https://mraag.xyz/images/illustration-og-1200.png" />
<meta property="og:url" content="https://mraag.xyz{{page.url}}" />
<meta property="og:title" content="{%- if title -%}{{ title }}{%- else -%}Martin Raag{%- endif -%}" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}Personal website and blog for Martin Raag.{%- endif -%}" />
<meta property="og:image" content="https://mraag.xyz/images/illustration-card-1920.png" />
