<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }}{% else %}mraag.xyz{% endif %} - Martin Raag</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ assets.css.main }}">
  <link rel="stylesheet" href="{{ assets.css.prism }}">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="alternate" href="/feed.xml" title="Martin Raag's blog feed" type="application/atom+xml">
  {%- include "favicons.njk" %}
  {%- include "scripts.njk" %}
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
