{% extends 'layouts/base.njk' %}

{% block body %}

  <div class="md:flex min-h-screen">
    <div class="md:max-w-md md:flex-none w-full min-h-full text-gray-700 px-10 md:py-16 py-6 bg-gray-900">
      {% block sidebar %}
        <h1 class="font-extrabold text-4xl text-white text-center pt-10 pb-4">
          Martin Raag
        </h1>
        <div class="{% if route != "index" -%} md:block hidden {%- endif %}">
          <img class="ml-auto mr-auto"
            srcset="/images/illustration-light-250.png 1x,
                    /images/illustration-light-500.png 2x,
                    /images/illustration-light-750.png 3x,
                    /images/illustration-light-1000.png 4x"
            src="/images/illustration-light-250.png"
            width="250" height="250" alt="Site logo">
          <div class="w-full font-mono leading-relaxed text-gray-500 flex justify-center">
            <p>
              {% include "blurb.njk" %}
            </p>
          </div>
          <div class="flex py-10 justify-center text-gray-500">
            {% include "links.njk" %}
          </div>
        </div>
      {% endblock %}
    </div>
    <div class="w-full">
      <div class="items-center h-16 md:px-12 px-5">
        <div class="float-left mt-3">
          {% block header %}
            <span class="tracking-widest font-mono text-2xl text-gray-900">
              {{ header }}
            </span>
          {% endblock %}
        </div>
        <div class="flex float-right py-5">
          {% include "nav.njk" %}
        </div>
      </div>
      <hr/>
      {% block content %}
        <div class="{% if contentClass -%} {{ contentClass }} {%- endif %} md:px-12 px-5 py-4">
          {{ content | safe }}
        </div>
      {% endblock %}
    </div>
  </div>

{% endblock %}