{% extends 'layouts/base.njk' %}

{% block body %}

  <div class="items-center h-16 xl:px-40 md:px-16 px-5 py-1 text-gray-900">
    <a href="/" class="font-extrabold text-4xl text-gray-900">Martin Raag</a>
    <div class="flex float-right py-4">
      {% include "nav.njk" %}
    </div>
  </div>

  <hr/>

  <div class="container mx-auto lg:px-56 md:px-16 px-5 py-6">
    <h1 class="font-serif text-4xl leading-tight text-gray-900">{{ title | safe }}</h1>
    <p class="font-serif text-lg text-gray-700">{{ date | date }}</p>
    <div class="mrx-post font-serif text-lg text-gray-900 leading-relaxed mt-3">
      {{ content | safe }}
    </div>

  <div class="border border-solid border-pink-400 mt-6 p-6">
    <div class="flex justify-center font-mono ">
      <p>
        {% include "blurb.njk" %}
      </p>
    </div>
    <div class="flex justify-center mt-6 w-full">
      {% include "links.njk" %}
    </div>
  </div>

{% endblock %}