{% extends 'layouts/page.njk' %}

{% set page = "about" %}

{% block header %}
  <span class="tracking-widest font-mono text-2xl md:ml-10 ml-4 text-gray-900">
    About
  </span>
{% endblock %}

{% block content %}
  <div class="py-4 md:px-20 px-10 font-serif text-gray-900 mt-1 text-lg">
    <p class="text-2xl">👋 Hi, I'm Martin.</p>
  </div>
{% endblock %}