{% extends 'layouts/page.njk' %}

{% block header %}
  <span class="tracking-widest font-mono text-2xl md:ml-10 ml-4 text-gray-900">
    Recent posts
  </span>
{% endblock %}

{% block content %}
  {%- for post in collections.post -%}
    <div class="py-4 md:px-20 px-10">
      <a href="{{ post.url }}" class="font-serif text-2xl text-gray-900 hover:text-pink-400">
        {{ post.data.title }}
      </a>
      <p class="font-serif text-gray-700 mt-1">{{ post.date | date }}</p>
      <p class="font-serif text-gray-900 mt-1">
        {{ post.templateContent | firstParagraph | striptags }}
      </p>
      <div class="mt-2 mb-2">
        <a href="{{ post.url }}" class="font-serif text-pink-400 hover:underline">Read more</a>
      </div>
      <hr/>
    </div>
  {%- endfor -%}
{% endblock %}